@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

html {
  font-family: sans-serif;
  background: #fff;
}
.section__padding {
  padding: 2rem 2rem;
}
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  margin-top: 6rem;
}
